body {
  min-height: 100vh;
}

html {
}

main {
  height: 100vh;
  max-height: 100vh;
  overflow-x: auto;
  overflow-y: hidden;
}

.dropdown-toggle { outline: 0;}


.background-purple{
    background: #842180;
}
